src/main/app/charter-ci-tester.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9099" doc:name="HTTP Listener Configuration"/>
    <flow name="charter-ci-testerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/ci-tester" doc:name=":9099/ci-tester"/>
        <set-payload value="#['Lorem Ipsum']" doc:name="Lorem Ipsum"/>
    </flow>
</mule>
